# Android Studio / IntelliJ IDEA
.idea/
*.iml
.gradle/
/local.properties

# Build Output
build/
/captures
.externalNativeBuild
.cxx/

# Native / C++
app/.cxx/
app/build/

# App Data & Backups (Sensitive)
app/*.zip
app/state.json
app/archive_*.json

# OS / Misc
.DS_Store
*.log
